@import "tailwindcss";

/* Light theme colors */
:root {
  --background: #ffffff;       /* White background */
  --foreground: #171717;       /* Dark gray text */
  --secondary-text: #555555;   /* Lighter gray for paragraphs */
  --link-color: #1a73e8;       /* Blue links */
  --card-bg: #ffffff;           /* Cards */
  --card-border: #e2e8f0;       /* Light gray border for subtle separation */
  --font-sans: 'Inter', sans-serif;    /* Headings */
  --font-serif: 'Merriweather', serif; /* Body */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
  line-height: 1.6;
}

a:not(.btn) {
  color: var(--link-color);
}

a:not(.btn):hover {
  text-decoration: underline;
}


a:hover {
  text-decoration: underline;
}
